$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$fa-font-path: '~font-awesome/fonts' !default;
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/theme";
@import "~font-awesome/scss/font-awesome";
@import 'games';

html, body {
  height: 100%;
}

#content-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -#{$footer-height};
  padding: $navbar-height .5em $footer-height .5em;
}

footer {
  height: $footer-height;
}
