/app/config/local_*
/build/
/bin/*
!bin/console
/node_modules
/var/bootstrap.php.cache
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/tmp
/vendor/
/web/bundles/
/composer.phar
/.env
