/build/
/node_modules
/public/bundles/
/tmp
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/data
/var/data/*
!var/data/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
/var/uploads/*
!var/uploads/.gitkeep
/vendor
/composer.phar
/.php_cs
/.php_cs.cache
/.env
behat.yml
.phpunit
/phpunit.xml
