#!/usr/bin/env php
<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->exclude('var')
    ->exclude('web/bundles')
    ->exclude('web/assets')
;

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        '@Symfony' => true,
        '@Symfony:risky' => true,
        'array_syntax' => ['syntax' => 'short'],
        'no_useless_else' => true,
        'no_useless_return' => true,
        'ordered_imports' => true,
        'phpdoc_order' => true,
        'php_unit_strict' => true,
        'strict_comparison' => true,
        // symfony rules overrides
        'blank_line_after_opening_tag' => false, //for declare(strict_types=1);
        'concat_space' => false,
        'phpdoc_summary' => false,
        'trailing_comma_in_multiline_array' => false,
        'pre_increment' => false
        // end symfony overrides
    ])
    ->setFinder($finder)
;

