PHPRC=etc/local/php-unix-development.ini
PHP_OPCACHE_FILE_CACHE_DIR=var/opcache
PHP_INI_SCAN_DIR=""
APP_ENV=development
APP_DEBUG=1
HITTRACKER_BUILD_TYPE=local
HITTRACKER_SESSION_SECRET=
DATABASE_URL=hittracker@127.0.0.1/hittracker
