SYMFONY_ENV=development
SYMFONY_DEBUG=1
HITTRACKER_SESSION_SECRET=
HITTRACKER_DATABASE_HOST=127.0.0.1
HITTRACKER_DATABASE_NAME=hittracker
HITTRACKER_DATABASE_USER=postgres
HITTRACKER_DATABASE_PASSWORD=
HITTRACKER_BUILD_TYPE=standalone
