parameters:
    ignoreErrors:
        - '#Access to an undefined property Symfony\\Component\\Validator\\Constraint::\$propertyPath#'
        - '#Access to an undefined property Symfony\\Component\\Validator\\Constraint::\$message#'
        - '#Call to an undefined method Sylius\\Component\\Resource\\Model\\ResourceInterface::#'
        - '#Call to an undefined method Sylius\\Component\\Resource\\Repository\\RepositoryInterface::#'
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children#'
    autoload_directories:
        - %rootDir%/../../../src/Migrations
    symfony:
        container_xml_path: %rootDir%/../../../var/cache/development/srcApp_KernelDevelopmentDebugContainer.xml
includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

