<h1>HitTracker Help</h1>

<ul>
  <li>Each Player is given 500 Life Credits</li>
  <li>Each Team is given 500 Life Credits &times; the Number of Players on a Team</li>
  <li>
      Each time a Player is hit by a reusable paintball or AirSoft(r) pellet,
      10 Life Credits are deducted from Players score and from the Team score
  </li>
  <li>Each player will receive a printed score card at the end of the game showing:
    <ul>
      <li>number of times the player was hit</li>
      <li>where the player was hit</li>
      <li>player score</li>
      <li>team score</li>
    </ul>
  </li>
  <li>The Player and Team with the most Life Credits remaining is considered the winner</li>
</ul>

<h3>Live game information will be displayed on a monitor or television.</h3>

<h3>Choose "New Game" from menu to start a game.</h3>
