<div id="flashes">
{% if app.session.flashbag.keys is not empty %}
    <div class="row">
        <div class="col-md-12">
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    {% set alert_auto_dismiss = type == 'success' ? 'data-auto-dismiss="2"' : '' %}
                    <div class="alert fade in alert-{{ type }}" role="alert" {{ alert_auto_dismiss|raw }}>
                        {{ message|trans }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endif %}
</div>
