{% extends 'HitTrackerGameBundle::layout.html.twig' %}
{% block content %}
    <div class="hidden-print">
        <div class="text-center">
            <a id="print-scores" class="btn btn-primary" href="#">
                {{ 'Print Scores'|trans }}
            </a>
        </div>
    </div>

    {{ include('HitTrackerGameBundle:Game:scores.html.twig') }}

    <a href="{{ path('hittracker_game_index') }}">{{ 'Back'|trans}}</a>
{% endblock %}

