{% set toolbarConfig = {
'token': token,
'position': position,
'wdtUrl': path('_wdt', {'token': token}),
'profilerUrl':  path('_profiler', {'token': token}),
'excluded_ajax_paths': excluded_ajax_paths,
}%}
<div id="sfwdt{{ token }}" data-sftoolbar-config="{{ toolbarConfig|json_encode }}" class="sf-toolbar"></div>
<script src="{{ asset('bundles-override/webprofiler/js/base.js') }}"></script>
<script src="{{ asset('bundles-override/webprofiler/js/toolbar.js') }}"></script>
