{% macro pagination(paginator, options) %}
{% if paginator.haveToPaginate()|default(false) %}
<div class="row">
    <div class="col-md-9 col-xs-12">
        {{ pagerfanta(paginator, 'twitter_bootstrap4_translated', options|default({})) }}
    </div>

    <div class="col-md-3 col-xs-12">
        <div class="ml-auto">
            <div class="btn-group paginator">
            {# TODO: bring back sorting #}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endmacro %}
