{% extends '@HitTrackerGame/layout.html.twig' %}
{% block content %}
    <h1>{{ 'Create Vest'|trans }}</h1>
    {{ form(form, {action: path('hittracker_vest_create'), layout: 'horizontal', }) }}
    <br />
    <a href="{{ path('hittracker_vest_index') }}">
        {{ 'Back'|trans }}
    </a>
{% endblock %}
