{% extends '@HitTrackerGame/layout.html.twig' %}
{% block content %}
    <h1>{{ 'hittracker.vest.update'|trans }}</h1>
    {{ form(form, {action: path('hittracker_vest_update', {id: vest.id}), layout: 'horizontal', method: 'PUT'}) }}
    <br />
    <a href="{{ path('hittracker_vest_index') }}">
        {{ 'hittracker.back'|trans }}
    </a>
{% endblock %}
