{% extends '@HitTrackerGame/layout.html.twig' %}
{% import '@SyliusResource/Macros/actions.html.twig' as actions %}
{% block content %}
    <h1>Settings <small>Use this form to update settings</small></h1>
    <hr />

    {% set schema = app.request.attributes.get('schema') %}
    <form action="{{ path('hittracker_' ~ schema ~ '_settings') }}" method="post" class="form-inline form-settings form-settings-{{ schema }}" enctype="multipart/form-data">
    <div class="col-12">
        {{ form_widget(form) }}
    </div>
    <div class="row">
        {{ actions.update() }}
    </div>
    </form>
{% endblock %}
