$fa-font-path: '~font-awesome/fonts' !default;
@import '~font-awesome/scss/font-awesome';
@import 'custom';
@import '~bootstrap/scss/bootstrap';
@import 'games';

html {
  font-size: 0.9rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1rem;
  }
}

body {
  min-height: 100vh;
  padding-top: $navbar-height;
}
