$body-bg: #000;
$text-color: #fff;

$navbar-height: 0;

$table-bg: #fff;
$table-bg-accent: #e6e6e6;

$font-size-base: 1rem;

@import 'common';

.scores {
  @extend .table;
  color: #000;
}

.team-color-blue {
  background-color: blue;
}
.team-color-green {
  background-color: #83f52c;
}
.team-color-orange {
  background-color: #ff6700;
}
.team-color-red {
  background-color: red;
}

.logo {
  padding-top: 10px;
  padding-bottom: 10px;
}

.banners {
  margin: 0 auto;
  padding-bottom: 10px;
}
.banners img {
  margin: 0 auto;
}
