$body-bg: #000;
$text-color: #fff;

$navbar-height: 0;

$table-bg: #fff;
$table-bg-accent: #e6e6e6;

$score-table-team-1-color: #83f52c;
$score-table-team-2-color: #ff6700;

$font-size-base: 1rem;

@import 'common';

.scores {
  @extend .table;
  color: #000;
}

.team-1 thead tr:first-child,
.team-1 tfoot {
  background-color: $score-table-team-1-color;
}
.team-2 thead tr:first-child,
.team-2 tfoot {
  background-color: $score-table-team-2-color;
}

.logo {
  padding-top: 10px;
  padding-bottom: 10px;
}

.banners {
  margin: 0 auto;
  padding-bottom: 10px;
}
.banners img {
  margin: 0 auto;
}
