{% extends '@HitTrackerGame/layout.html.twig' %}
{% import '@SyliusResource/Macros/actions.html.twig' as actions %}
{% form_theme form 'bootstrap_3_horizontal_form_help.html.twig' %}
{% block content %}
    <h1>Settings <small>Use this form to update settings</small></h1>
    <hr />

    {% set schema = app.request.attributes.get('schema') %}
    <form action="{{ path('hittracker_' ~ schema ~ '_settings') }}" method="post" class="form-horizontal form-settings form-settings-{{ schema }}">
        {{ form_widget(form) }}
        {{ actions.update() }}
    </form>
{% endblock %}
